<template>
  <div>
    <p>Binary search</p>
    <input type="text" placeholder="Enter collection e.g 1,3,5" v-model="collection">
    <input type="text" placeholder="Enter value to search" v-model="val">
    <md-button class="md-raised md-primary" @click="search" >Search</md-button>
    <pre>{{message}}</pre>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  data(){
    return{
      message:null,
      collection:null,
      val:null
    }
  },
  created(){
    this.result = false;
  },
  mounted(){
    // this.exists = this.search([4,6,7,99,132,66],99);
  },
  methods:{
    // This function can easily be wired to accept the two parameters i.e collection and the value
    // only that i have used class properties
    search(){
      this.message = null;
      let collection = this.collection.split(",");
      let val = this.val;
      let result = false;
      console.log(collection,val);
      let start = 0;
      let end = collection.length - 1;
      while (start<=end){ 
  
        // Find the middle index 
        let middle=Math.floor((start + end)/2); 
   
        // If element is present at middle, return True 
        if (collection[middle]==val) { 
          result = collection.indexOf(val);
          this.message = "collection :"+JSON.stringify(collection)+"\n value: "+val +"\n result: "+result;
          return result;
        } 
  
        // Else look in left or right half accordingly 
        else if (collection[middle] < val)  
             start = middle + 1; 
        else
             end = middle - 1; 
    } 
    result = -1;
    this.message = "collection :"+JSON.stringify(collection)+"\n value: "+val +"\n result: "+result;
    return result; 
      
    }
  }
}
</script>
