<template>
  <div>
    <p v-if="loading">Loading, please wait...</p>
    <md-dialog-alert
      :md-active.sync="show"
      :md-content="msg"
      md-confirm-text="Ok" />
    <md-card v-if="loaded">
      <md-card-header>
        <div class="md-title">Card without hover effect</div>
      </md-card-header>

      <md-card-content>
        <p>
          <b>Name:</b>
          {{character.name}}
        </p>
        <p>
          <b>Gender:</b>
          {{character.gender}}
        </p>
        <p>
          <b>Date of Birth:</b>
          {{character.birth_year}}
        </p>
        <p>
          <b>Height:</b>
          {{character.height}}
        </p>
        <p>
          <b>Eye Color:</b>
          {{character.eye_color}}
        </p>
        <p>
          <b>Hair Color:</b>
          {{character.hair_color}}
        </p>
      </md-card-content>
      <md-card-actions>
        <md-button class="md-icon-button md-raised md-accent" @click="favorite">
          <md-icon>favorite</md-icon>
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from "axios";
export default {
  props: ["url"],
  data() {
    return {
      character: null,
      loading: null,
      loaded: null,
      show:false,
      msg:''
    };
  },
  created() {
    this.character = {};
    this.loading = false;
    this.loaded = false;
  },
  mounted() {
    this.getDetail();
  },
  methods: {
    getDetail() {
      this.loading = true;
      this.loaded = false;
      axios
        .get(this.url)
        .then(response => {
          this.loading = false;
          this.loaded = true;
          this.character = response.data;
        })
        .catch(err => {
          this.loading = false;
          this.loaded = true;
          console.log(err);
        });
    },
    favorite(){
     
      if( localStorage.getItem(this.character.name) == null){
        if(localStorage.length - 1 >= 5){
          this.msg = 'You are already on 5 favorited';
          this.show = true;
        }else{
          localStorage.setItem(this.character.name,this.character.url);
          this.msg = 'Added to favorite list!';
          this.show = true;
        }
        
      }else{
        localStorage.removeItem(this.character.name);
        this.msg = 'Removed from favorite list!';
        this.show = true;
      }
    }
  }
};
</script>
