<template>
  <div>
    <form class="md-layout">
      
      <input placeholder="Enter Number" type="text" v-model="userNumber">
      <md-button class="md-raised md-primary" @click="isPrime" >Check</md-button>
      <md-button class="md-raised md-primary" @click="isPrimeMemoized" >Check(Memoized)</md-button>
      <pre>Is Prime: {{isValidPrime}} </pre>
    </form>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'prime',
  data(){
    return{
     userNumber:null,
     isChecked:null,
     isValidPrime:null
    }
    
  },
  created(){
    this.userNumber = 1;
    this.isChecked = false;
    this.isValidPrime = false;
  },
  methods:{
    isPrime() {
      for(var i = 2; i < this.userNumber; i++){
        if(this.userNumber % i === 0) { 
          this.isValidPrime = false; 
          return this.isValidPrime;
        };
      }
      this.isValidPrime = this.userNumber > 1
      return this.isValidPrime;
    },
    isPrimeMemoized(){
      const memoizedPrime = this.memoize(this.isPrime);
      memoizedPrime();
    },
    memoize(func){
      const cache = {};
      return()=>{
        if(this.userNumber in cache){
          // number has already been checked if is prime
          return cache[this.userNumber];
        }else{
          // check if number is prime
          let prime = func();
          cache[this.userNumber] = prime;
          return prime;
        }
      }
    }
  }
}
</script>
