<template>
  <div >
    <p v-if="loading">Loading, please wait...</p>
     <md-table>
      <md-table-row>
        <md-table-head>Name</md-table-head>
        <md-table-head>Gender</md-table-head>
        <md-table-head>Date of Birth</md-table-head>
        <md-table-head>Height</md-table-head>
        <md-table-head>Eye Color</md-table-head>
        <md-table-head>Hair Color</md-table-head>
        <md-table-head>Favorited</md-table-head>
      </md-table-row>

      <md-table-row v-for="character in characters" :key="character.name" @click="goToDetails(character.url)">
        <md-table-cell>{{character.name}}</md-table-cell>
        <md-table-cell>{{character.gender}}</md-table-cell>
        <md-table-cell>{{character.birth_year}}</md-table-cell>
        <md-table-cell>{{character.height}}</md-table-cell>
        <md-table-cell>{{character.eye_color}}</md-table-cell>
        <md-table-cell>{{character.hair_color}}</md-table-cell>
        <md-table-cell v-if="favorited(character.name)"><md-icon>favorite</md-icon></md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>
<script>
// @ is an alias to /src
import axios from 'axios'
// Vue.use(axios)
export default {
 data(){
   return{
     rootUrl:null,
     characters:null,
     loading:null
   }
 },
 created(){
   this.rootUrl = 'https://swapi.co/api/';
   this.characters = [];
   this.loading = false;
 },
 mounted(){
   this.getCharacters();
 },
 methods:{
   getCharacters(){
     this.loading = true;
     axios.get(this.rootUrl + 'people').then((response)=>{
       this.loading = false;
       this.characters = response.data.results;
     }).catch((err)=>{
       this.loading = false;
       console.log(err);
     });
   },
   goToDetails(url){
     this.$router.push({name:'character',params:{url:url}});
   },
   favorited(name){
     if(localStorage.getItem(name) == null) return false
     return true;
   }
 }
}
</script>
