<template>
  <div class="page-container">
    <md-app>
      <md-app-toolbar class="md-primary">
        <span class="md-title">Code Test</span>
      </md-app-toolbar>

      <md-app-drawer md-permanent="full">
        <md-toolbar class="md-transparent" md-elevation="0">
          CT
        </md-toolbar>

        <md-list>
          <md-list-item :key="`link-${index}`" v-for="(link,index) in links" :to="link.url">
            <span class="md-list-item-text">{{link.title}}</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>

      <md-app-content>
        <router-view/>
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
 
</style>

<script>
export default {
  name: 'Normal',
  data(){
    return{
      links:[
            {title:"Home",url:'/'},
            {title:"Prime",url:'/prime'},
            {title:"Binary Search",url:'/bs'},
            {title:"Characters",url:'/characters'},
      ]
    }
    
  },
  
}
</script>


